.video-others {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-my {
  position: absolute;
  width: 150px;
  top: 20px;
  margin: 0;
  right: 20px;
  object-fit: cover;
}

.content {
  background-color: #252525;
  width: 100%;
  height: 100%;
}

.video-hangup {
  position: absolute;
  bottom: 70px;
  right: 50%;
  transform: translate(50%, 0);
  ion-button {
    border-radius: 50%;
    overflow: hidden;
    width: 55px;
    height: 55px;
    --background: red;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
  }
  ion-icon {
    font-size: 30px;
  }
}
