.message-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-bubble {
  flex: 1;
  background: rgba(245, 245, 245, 1);
}

.input-box {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid #ccc;
  background: #f5f5f5;
  ion-input {
    --background: #fff;
    border-radius: 3px;
  }
  ion-button {
    margin: 0 0 0 10px;
    --border-radius: 2px;
  }
}

.bubble-item {
  display: flex;
  margin: 10px 0;

  &.self {
    flex-direction: row-reverse;
    .content {
      background: rgba(147, 235, 105, 1);
    }
  }
  .content {
    max-width: 200px;
    padding: 10px;
    background: #fff;
  }
}
